<div class="row" style="background-color: #e1fafc;">
    <div class="col-4">
        <img src="Assets/recursos/deltatur-luna2.png" width="120px" height="120px"
            class="rounded me-auto d-block" alt="gestion turistica">

    </div>
    <div class="col-4">
       <h2 class="fw-bold text-primary text-center mb-4">Gestión Turística</h2>
       <h4 class="fw-bold text-primary text-center mb-4">¡Luna!</h4>

    </div>
    <div id="infoLogin" style="display: block;" class="col-4 d-flex justify-content-end">
        <div class="card bg-light border-warning"> <!-- Fondo claro y borde cálido -->
            <div class="card-body">
                <h5 id="nUsuario" class="card-title text-warning text-capitalize">Nombre</h3> <!-- Color cálido en el texto -->
                <p id="rolUsuario" class="card-text text-dark text-capitalize">Rol</p>
                <button id="cerrarsesion" class="btn btn-primary">Cerrar Sesión</button> <!-- Botón azul -->
            </div>
        </div>
    </div>
</div>
<div class="row text-center p-1 rounded-4" id="main-nav">
    <div id="containerLi" class="col-12">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link page" id='btn-home' aria-current="home" href="#" data-tag="home">inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-mnosotros' aria-current="mnosotros" href="#" data-tag="mnosotros">Mas de Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-mision' aria-current="mision" href="#" data-tag="mision"href="#">Mision</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-vision' aria-current="vision" href="#" data-tag="vision"href="#">Vision</a>

        </ul>
    </div>
</div>
<div class="col-12 rounded-4 bg-primary text-center text-white p-2" id="txtTitulo">
    <h4 class="bg-transparent text-white">Disfruta de nuestros paquetes disponibles para ti</h4>
  </div>
<script src="Assets/js/headerTurista.js"></script>
