<div class="col-12 w-90 mx-auto d-flex justify-content-center gap-3 p-3" id="main-content-header">
    <button type="button" class="btn btn-info" id="ingresarRestaurante">Ingresar Nuevo Restaurante</button>
    <button type="button" class="btn btn-info" id="verlistaRestaurante">Ver lista</button>
    <button type="button" class="btn btn-info" id="buscarRestaurante">Buscar</button>
    <button type="homeadmin" class="btn btn-info" id="homeAdmin">Atras</button>
</div>

<div id="main-content-restaurante" style="display: none;">

    <h3 class="bg-info text-center" id="txtcabecera">Ingresar nuevo Restaurante</h3>
    <br>

    <form id="frmRestaurante">
        <div class="row">
            <div class="col-3">
                <div class="mb-4">
                    <label for="txtNombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control text-capitalize" id="txtNombre" placeholder="Ingrese nombre del Restaurante">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-4">
                    <label for="slcDepartamento" class="form-label">Departamento</label>
                    <select class="form-select text-capitalize" id="slcDepartamento">
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-4">
                    <label for="slcMunicipio" class="form-label">Municipio</label>
                    <select class="form-select text-capitalize" id="slcMunicipio">
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-4">
                    <label for="txtCelular" class="form-label">N° de Celular</label>
                    <input type="tel" class="form-control" id="txtCelular" placeholder="Ingrese telefono de usuario">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="mb-4">
                        <label for="txtDireccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control text-capitalize" id="txtDireccion"
                            placeholder="Ingrese direccion">
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-4">
                        <label for="precio" class="form-label">Precio por dia</label>
                        <input type="moneda" class="form-control" id="precio" placeholder="Ingrese el valor por dia">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12 w-90 mx-auto d-flex justify-content-center gap-3 p-3">
                    <button type="submit" class="btn btn-success" id="submitRestaurante">Enviar</button>
                    <button type="reset" class="btn btn-info">Limpiar</button>
                  
                </div>
            </div>
        </div>
    </form>
    <div class="col-12" style="margin-left: 80%;">
        <button type="atras" class="btn btn-info" id="atras" style="display: inline;">Atras</button>
    </div>
</div>
<script src="Assets/js/gestionrestaurante.js"></script>