<div class="col-12" id="main-content-header">
    <button type="button" class="btn btn-info" id="ingresarhotel">Ingresar Nuevo Hotel</button>
    <button type="button" class="btn btn-info" id="verlistahotel">Ver lista</button>
    <button type="button" class="btn btn-info" id="buscarhotel">Buscar</button>
    <button type="homeadmin" class="btn btn-info" id="homeAdmin">Atras</button>
</div>
<div id="main-content-hotel" style="display: none;">

    <h3 class="bg-info text-center" id="txtcabecera">Ingresar nuevo Hotel</h3>

    <form id="frmhotel">

        <div class="row">
            <div class="col-3">
                <div class="mb-4">
                    <label for="txtNombre" class="form-label">Nombre de Hotel</label>
                    <input type="text" class="form-control" id="txtNombre" placeholder="Ingrese nombre de usuario">
                </div>
            </div>

            <div class="col-3">
                <div class="mb-4">
                    <label for="slcDepartamento" class="form-label">Departamento</label>
                    <select class="form-select" id="slcDepartamento">
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-4">
                    <label for="slcMunicipio" class="form-label">Municipio</label>
                    <select class="form-select" id="slcMunicipio">
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-4">
                    <label for="txtCelular" class="form-label">N° de Celular</label>
                    <input type="tel" class="form-control" id="txtCelular" placeholder="Ingrese telefono de usuario">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="mb-4">
                    <label for="txtDireccion" class="form-label">Direccion</label>
                    <input type="text" class="form-control" id="txtDireccion"
                        placeholder="Ingrese direccion de usuario">
                </div>
             </div>
             <div class="col-3">
                <div class="mb-4">
                    <label for="precio" class="form-label">precio por dia</label>
                    <input type="moneda" class="form-control" id="precio" placeholder="Ingrese el valor por dia">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-4">
                    <label for="fto" class="form-label">url foto</label>
                    <input type="moneda" class="form-control" id="urlFoto" placeholder="Ingrese la url de la foto">
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-10">
                <button type="submit" class="btn btn-success" id="submithotel">Enviar</button>
                <button type="reset" class="btn btn-info">Limpiar</button>

            </div>
        </div>
    </form>
    <div class="col-12" style="margin-left: 80%;">
        <button type="atras" class="btn btn-info" id="atras" style="display: inline;">Atras</button>
    </div>
</div>
<script src="Assets/js/gestionhotel.js"></script>