<div class="container mt-5">
    <h2 class="mb-4 text-center">📊 Lugares Más Reservados</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Municipio</th>
                    <th>Departamento</th>
                    <th>Total Reservas</th>
                </tr>
            </thead>
            <tbody id="tablaMunicipios">
                <!-- Aquí se insertarán dinámicamente las filas -->
            </tbody>
        </table>
    </div>
</div>
<div class="col-12" style="margin-left: 80%;">
        <button type="button" class="btn btn-info" id="atras" style="display: inline;">Atras</button>
</div>
<script src="Assets/js/gestionReportes.js"></script>