<div class="album py-5 bg-light">
  <div class="container">


    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
            src="Assets/recursos/iconoPersona.jpg" data-holder-rendered="true">
          <div class="card-body">
            <h6>Gestion Persona</h6>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button id="entrarPersona" type="button" class="btn btn-sm btn-outline-primary">Entrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
            src="Assets/recursos/iconoUsuario.jpeg" data-holder-rendered="true">
          <div class="card-body">
            <h6>Gestion De Usuarios</h6>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button id="entrarUsuario" type="button" class="btn btn-sm btn-outline-primary">Entrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
            src="Assets/recursos/iconoRestaurante.jpeg" data-holder-rendered="true">
          <div class="card-body">
            <h6>Gestion De Restarantes</h6>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button id="entrarRestaurante" type="button" class="btn btn-sm btn-outline-primary">Entrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
            src="Assets/recursos/iconoTransporte.jpeg" data-holder-rendered="true">
          <div class="card-body">
            <h6>Gestion Transportes</h6>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">Entrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
            src="Assets/recursos/iconoAtraccion.png" data-holder-rendered="true">
          <div class="card-body">
            <h6>Gestion De Atraccion Turistica</h6>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">Entrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top"
            data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
            alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
            src="Assets/recursos/iconoHotel.jpeg" data-holder-rendered="true">
          <div class="card-body">
            <h6>Gestion De Hoteles</h6>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">Entrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>




  </div>
</div>



<script src="Assets/js/homeAdmin.js"></script>