<div class="col-12" id="main-content-header">
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Ingresar Nuevo Registro</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Ver Lista de Registros</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio3">Buscar</label>
      </div>
      

</div>

<div id="main-content-persona" style="display: none;">

    <h3 class="bg-info text-center">Ingresar nueva persona</h3>
    

    <form id="form-persona">
       

        <input type="hidden" id="usuario-id" />

        <div class="row">
            <div class="col-3">
                <div class="mb-4">
                    <label for="txtNombre" class="form-label">Primer Nombre</label>
                    <input type="text" class="form-control" id="txtPNombre" placeholder="Ingrese nombre de usuario">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-4">
                    <label for="txtNombre" class="form-label">Segundo Nombre(opcional)</label>
                    <input type="text" class="form-control" id="txtSNombre" placeholder="Ingrese nombre de usuario">
                </div>
            </div>

            <div class="col-3">
                <div class="mb-4">
                    <label for="txtApellido" class="form-label">Primer Apellido</label>
                    <input type="text" class="form-control" id="txtPApellido" placeholder="Ingrese apellido de usuario">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-4">
                    <label for="txtApellido" class="form-label">Segundo Apellido(opcional)</label>
                    <input type="text" class="form-control" id="txtSApellido" placeholder="Ingrese apellido de usuario">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-4">
                    <label for="slcTipoIdentificacion" class="form-label">Tipo de identificacion</label>
                    <select class="form-select" id="slcTipoIdentificacion">
                        <option selected value="">Seleccione un tipo</option>
                        <option value="1">CC</option>
                        <option value="2">Pasaporte</option>
                    </select>
                </div>
            </div>

            <div class="col-3">
                <div class="mb-4">
                    <label for="txtIdentificacion" class="form-label">Identificacion</label>
                    <input type="text" class="form-control" id="txtIdentificacion"
                        placeholder="Ingrese tipo de identificacion de usuario">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-4">
                    <label for="dateFechaNacimiento" class="form-label">Fecha nacimiento</label>
                    <input type="date" class="form-control" id="dateFechaNacimiento">
                </div>
            </div>
            <div class="col-3">
                <div class="mb-4">
                    <label for="txtTelefono" class="form-label">N° de Celular</label>
                    <input type="tel" class="form-control" id="txtTelefono" placeholder="Ingrese telefono de usuario">
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-3">
                <div class="mb-4">
                    <label for="slcDepartamento" class="form-label">Departamento residencia</label>
                    <select class="form-select" id="slcDepartamento">                       
                           
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-4">
                    <label for="slcCiudad" class="form-label">Municipio de residencia</label>
                    <select class="form-select" id="slcCiudad">
                    </select>
                </div>
            </div>
            <div class="col-3">
                <div class="mb-4">
                    <label for="txtDireccion" class="form-label">Direccion</label>
                    <input type="text" class="form-control" id="txtDireccion"
                        placeholder="Ingrese direccion de usuario">
                </div>
            </div>
            <div class="col-3">
                <label class="form-label">Indique su genero</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="rdGenero" id="rdGenero1" value="F">
                    <label class="form-check-label" for="rdGenero1">
                        Femenino
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="rdGenero" id="rdGenero2" value="M">
                    <label class="form-check-label" for="rdGenero2">
                        Masculino
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="rdGenero" id="rdGenero3" value="O">
                    <label class="form-check-label" for="rdGenero3">
                        Otro
                    </label>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="mb-4">
                    <label for="txtCorreo" class="form-label">Correo</label>
                    <input type="email" class="form-control" id="txtCorreo" placeholder="Ingrese correo de usuario">
                </div>

            </div>
            <div class="col-3">
                <div class="mb-4">
                    <label for="slcTipoIdentificacion" class="form-label">Perfil de Usuario</label>
                    <select class="form-select" id="slcTipoRol">
                        <option selected value="">Seleccione un tipo</option>
                        <option value="1">Administrador</option>
                        <option value="2">Recepcionista</option>
                        <option value="2">Turista</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Enviar</button>
                    <button type="reset" class="btn btn-info">Limpiar</button>
                  
                </div>
            </div>
        </div>
    </form>
</div>

<script src="Assets/js/homeAdmin.js"></script>

<script src="Assets/js/homepersona.js"></script>

