<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Paquetes Promocionales</h1>
        <p class="lead text-muted">Aqui encontrara las promociones que tenemos para ti, si quieres tomar alguna de estas o 
            eligir una distina debes iniciar sesion o registrarte.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
    </div>
</section>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                        src="Assets/recursos/cartagena.jpg"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <h6>Paquete promocional cartagena</h6>
                        <p class="card-text">Este paquete cuneta con alojamiento, servicio de restaurante y transporte.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">ver</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                        src="Assets/recursos/cartagena.jpg"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <h6>Paquete promocional cartagena</h6>
                        <p class="card-text">Este paquete cuneta con alojamiento, servicio de restaurante y transporte.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">ver</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                        src="Assets/recursos/cartagena.jpg"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <h6>Paquete promocional cartagena</h6>
                        <p class="card-text">Este paquete cuneta con alojamiento, servicio de restaurante y transporte.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">ver</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                        src="Assets/recursos/cartagena.jpg"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <h6>Paquete promocional cartagena</h6>
                        <p class="card-text">Este paquete cuneta con alojamiento, servicio de restaurante y transporte.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">ver</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                        src="Assets/recursos/cartagena.jpg"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <h6>Paquete promocional cartagena</h6>
                        <p class="card-text">Este paquete cuneta con alojamiento, servicio de restaurante y transporte.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">ver</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                        src="Assets/recursos/cartagena.jpg"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <h6>Paquete promocional cartagena</h6>
                        <p class="card-text">Este paquete cuneta con alojamiento, servicio de restaurante y transporte.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">ver</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                        src="Assets/recursos/cartagena.jpg"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <h6>Paquete promocional cartagena</h6>
                        <p class="card-text">Este paquete cuneta con alojamiento, servicio de restaurante y transporte.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">ver</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                        src="Assets/recursos/cartagena.jpg"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <h6>Paquete promocional cartagena</h6>
                        <p class="card-text">Este paquete cuneta con alojamiento, servicio de restaurante y transporte.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">ver</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top"
                        data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
                        alt="Thumbnail [100%x225]" style="height: 225px; width: 100%; display: block;"
                        src="Assets/recursos/cartagena.jpg"
                        data-holder-rendered="true">
                    <div class="card-body">
                        <h6>Paquete promocional cartagena</h6>
                        <p class="card-text">Este paquete cuneta con alojamiento, servicio de restaurante y transporte.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">ver</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>