<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button id="personaAdmin" type="button" class="btn btn-outline-primary">Personas</button>
  <button id="UsuarioAdmin" type="button" class="btn btn-outline-primary">Usuarios</button>
  <button id="hotelAdmin" type="button" class="btn btn-outline-primary">Hoteles</button>
</div>
  <div id="grupo2" class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary">Restaurantes</button>
  <button type="button" class="btn btn-outline-primary">Transportes</button>
  <button type="button" class="btn btn-outline-primary">Lugares</button>
  </div>
<div class="btn-group" role="group" aria-label="Basic outlined example">

  <button type="button" class="btn btn-outline-primary" id="atras">Atras</button>
</div>

<div id="MenuPersona"  class="btn-group col-12 d-none" role="group" aria-label="Basic outlined example">
  <button id="AgregarPersona" type="button" class="btn btn-outline-secondary">Agregar</button>
  <button id="EditarPErsona" type="button" class="btn btn-outline-secondary">Editar</button>
  <button id="VerLista" type="button" class="btn btn-outline-secondary">Ver Lista</button>
</div>
  <div id="MenuHotel"  class="btn-group d-none" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary">Restaurantes</button>
  <button type="button" class="btn btn-outline-primary">Transportes</button>
  <button type="button" class="btn btn-outline-primary">Lugares</button>
  </div>

<script src="Assets/js/homeAdmin.js"></script>