<div id="main-content">
    <h3>Lista de usuarios</h3>

    <table id="table-usuarios" class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Telefono</th>
            <th scope="col">Identificacion</th>
            <th scope="col">Edad</th>
            <th scope="col">Cantidad vehiculos</th>
            <th scope="col">Departamento</th>
            <th scope="col">Ciudad</th>
            <th scope="col">Direccion</th>
            <th scope="col">Color</th>
            <th scope="col">Genero</th>
            <th scope="col">Propietario</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

</div>
