<section class="about-us py-5 bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="font-weight-bold mb-4">Nuestra Misión</h2>
                <p class="text-muted mb-4">Brindar servicios turísticos personalizados y de alta calidad que promuevan el conocimiento, disfrute y conservación del patrimonio natural y cultural, generando bienestar para nuestros clientes, aliados y comunidades locales, a través de una gestión eficiente, ética y comprometida con el desarrollo sostenible.</p>
                <div class="row">
                  
                </div>
            </div>
            <div class="col-md-6">
                <img src="https://img.freepik.com/vector-premium/direccion-vision-empresarial_118813-1989.jpg?w=996" alt="About Us" class="img-fluid rounded shadow">
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-md-3 col-6 mb-4">
                <div class="text-center">
                    <i class="bi bi-people fs-1 text-primary mb-2"></i>
                    <h2 class="fw-bold">500+</h2>
                    <p class="text-muted">Clients</p>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-4">
                <div class="text-center">
                    <i class="bi bi-briefcase fs-1 text-primary mb-2"></i>
                    <h2 class="fw-bold">1000+</h2>
                    <p class="text-muted">Projects</p>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-4">
                <div class="text-center">
                    <i class="bi bi-trophy fs-1 text-primary mb-2"></i>
                    <h2 class="fw-bold">50+</h2>
                    <p class="text-muted">Awards</p>
                </div>
            </div>
            <div class="col-md-3 col-6 mb-4">
                <div class="text-center">
                    <i class="bi bi-globe fs-1 text-primary mb-2"></i>
                    <h2 class="fw-bold">20+</h2>
                    <p class="text-muted">Countries</p>
                </div>
            </div>
        </div>
    </div>
</section>