<html><head><!--css-->
  
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 pt-3">
                <small class="text-uppercase" style="color: #9B5DE5;">Bienbenidos</small>
                <h1 class="h2 mb-4" style="font-weight: 600;">Nuestra <span style="color: #9B5DE5;">Vision</span></h1>
                <p class="text-secondary" style="line-height: 2;">Ser reconocidos como una empresa líder en la creación de experiencias turísticas integrales, que inspiran a conocer y valorar la riqueza cultural y natural de nuestro país, impulsando el turismo responsable, inclusivo y sostenible.</p>
    
            </div>
            <div class="col-md-6 text-center">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <img src="https://images.pexels.com/photos/3184433/pexels-photo-3184433.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" class="w-100 rounded" alt="">
                    </div>
                    <div class="col-md-6 mb-3">
                        <img src="https://images.pexels.com/photos/3184431/pexels-photo-3184431.jpeg?auto=compress&amp;cs=tinysrgb&amp;dpr=1&amp;w=500" class="w-100 rounded" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div><!--js-->
 