body{
    background-color: rgb(255, 254, 255);  
}
.col-2 img{
    width: 100px;
    height: 100px;
    background: none;
}
b {
    color: rgb(200, 255, 0);
}
h1{
    color: rgb(255, 0, 157);
}
.danger{
    background: red;
}
.inicio{
    background: green;
}
.nav-buttons {
    text-align: right;
    padding-right: 30px;}
.btn-custom {
    background-color: limegreen;
    border-radius: 25px;
    color: black;
    font-weight: bold;
      }
.btn-nav {
    border-radius: 20px;
    margin-right: 10px;}  
    .buscar-button{
        text-align: center;

    }
.btn-bus{
    border-radius: 30px;
    margin-right: 25px;
}    
input.error {
    border-color: red !important;
    color: red !important;
}