.tex-center{
    text-decoration-color: blue;
}
  /* Estilo personalizado para el spinner */
  .spinner-border {
    border-left-color: #FFA500; /* Naranja */
    border-bottom-color: #1874CD; /* Azul */
}
/* Estilos del botón de cierre de sesión */
#cerrarsesion {
  background-color: #629ee2; /* Marrón claro */
  color: black;
  border: 1px solid #1874CD; /* Azul fuerte */
}
#cerrarsesion:hover {
  background-color: #1874CD; /* Azul fuerte al pasar el mouse */
  color: white;
  border-color: #0f5ba0; /* Un azul más oscuro*/
}
/* Menú de navegación con estilo Deltatur */

#main-nav{
  background-color: cornsilk;
  text-decoration-color: aqua;
  
}