@font-face {
  font-family: 'zajunaicons';
  src:  url('fonts/zajunaicons.eot?dxziyx');
  src:  url('fonts/zajunaicons.eot?dxziyx#iefix') format('embedded-opentype'),
    url('fonts/zajunaicons.ttf?dxziyx') format('truetype'),
    url('fonts/zajunaicons.woff?dxziyx') format('woff'),
    url('fonts/zajunaicons.svg?dxziyx#zajunaicons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="zicon-"], [class*=" zicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zajunaicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zicon-247:before {
  content: "\e924";
}
.zicon-numbers:before {
  content: "\e925";
}
.zicon-person:before {
  content: "\e926";
}
.zicon-prosecution:before {
  content: "\e922";
}
.zicon-hans:before {
  content: "\e923";
}
.zicon-camp:before {
  content: "\e921";
}
.zicon-feel1:before {
  content: "\e90d";
}
.zicon-training:before {
  content: "\e90e";
}
.zicon-relation-2:before {
  content: "\e920";
}
.zicon-relation-1:before {
  content: "\e909";
}
.zicon-campesena:before {
  content: "\e907";
}
.zicon-resotore:before {
  content: "\e908";
}
.zicon-a-:before {
  content: "\e905";
}
.zicon-a:before {
  content: "\e906";
}
.zicon-open-eye-2:before {
  content: "\e902";
}
.zicon-dislexia:before {
  content: "\e903";
}
.zicon-voice-assistant:before {
  content: "\e904";
}
.zicon-add:before {
  content: "\e900";
}
.zicon-administration-server:before {
  content: "\e901";
}
.zicon-alert:before {
  content: "\e90a";
}
.zicon-api:before {
  content: "\e90b";
}
.zicon-assitent:before {
  content: "\e90c";
}
.zicon-calendar-check:before {
  content: "\e90f";
}
.zicon-calendar:before {
  content: "\e910";
}
.zicon-cancel:before {
  content: "\e911";
}
.zicon-certificated:before {
  content: "\e912";
}
.zicon-change-image:before {
  content: "\e913";
}
.zicon-change:before {
  content: "\e914";
}
.zicon-clock:before {
  content: "\e915";
}
.zicon-closed-eyes:before {
  content: "\e916";
}
.zicon-color:before {
  content: "\e917";
}
.zicon-computer:before {
  content: "\e918";
}
.zicon-conference:before {
  content: "\e919";
}
.zicon-contrast:before {
  content: "\e91a";
}
.zicon-conversation-1:before {
  content: "\e91b";
}
.zicon-conversation:before {
  content: "\e91c";
}
.zicon-cv:before {
  content: "\e91d";
}
.zicon-dashboard:before {
  content: "\e91e";
}
.zicon-data-analyze:before {
  content: "\e91f";
}
.zicon-document:before {
  content: "\e928";
}
.zicon-down:before {
  content: "\e92c";
}
.zicon-download-1:before {
  content: "\e92d";
}
.zicon-download:before {
  content: "\e92e";
}
.zicon-edit-text:before {
  content: "\e92f";
}
.zicon-edit:before {
  content: "\e930";
}
.zicon-educate:before {
  content: "\e931";
}
.zicon-email:before {
  content: "\e932";
}
.zicon-employment-sector:before {
  content: "\e933";
}
.zicon-evidence-a:before {
  content: "\e934";
}
.zicon-evidence:before {
  content: "\e935";
}
.zicon-excelent:before {
  content: "\e936";
}
.zicon-facebook:before {
  content: "\e937";
}
.zicon-facetime:before {
  content: "\e938";
}
.zicon-farmer:before {
  content: "\e939";
}
.zicon-feedback:before {
  content: "\e93a";
}
.zicon-feel:before {
  content: "\e93b";
}
.zicon-field:before {
  content: "\e93c";
}
.zicon-folder:before {
  content: "\e93d";
}
.zicon-graduate:before {
  content: "\e93e";
}
.zicon-help-world:before {
  content: "\e93f";
}
.zicon-help:before {
  content: "\e940";
}
.zicon-home:before {
  content: "\e941";
}
.zicon-id:before {
  content: "\e942";
}
.zicon-instagram:before {
  content: "\e943";
}
.zicon-instruction:before {
  content: "\e944";
}
.zicon-instructors:before {
  content: "\e945";
}
.zicon-integration:before {
  content: "\e946";
}
.zicon-investigation-1:before {
  content: "\e947";
}
.zicon-investigation:before {
  content: "\e948";
}
.zicon-key:before {
  content: "\e949";
}
.zicon-lawer:before {
  content: "\e94a";
}
.zicon-left:before {
  content: "\e94b";
}
.zicon-level:before {
  content: "\e94c";
}
.zicon-library:before {
  content: "\e94d";
}
.zicon-listen:before {
  content: "\e94e";
}
.zicon-loading:before {
  content: "\e94f";
}
.zicon-location:before {
  content: "\e950";
}
.zicon-locker:before {
  content: "\e951";
}
.zicon-logo-zajuna:before {
  content: "\e952";
}
.zicon-logout-a:before {
  content: "\e953";
}
.zicon-logout:before {
  content: "\e954";
}
.zicon-math:before {
  content: "\e955";
}
.zicon-meet:before {
  content: "\e956";
}
.zicon-menu:before {
  content: "\e957";
}
.zicon-message:before {
  content: "\e95d";
}
.zicon-metadata:before {
  content: "\e95e";
}
.zicon-name:before {
  content: "\e95f";
}
.zicon-navegation:before {
  content: "\e960";
}
.zicon-notebook:before {
  content: "\e961";
}
.zicon-notification-c:before {
  content: "\e962";
}
.zicon-notification:before {
  content: "\e964";
}
.zicon-open-eye:before {
  content: "\e965";
}
.zicon-paper:before {
  content: "\e966";
}
.zicon-pdf-download:before {
  content: "\e967";
}
.zicon-point-refer:before {
  content: "\e968";
}
.zicon-pqr:before {
  content: "\e969";
}
.zicon-preview-picture:before {
  content: "\e96a";
}
.zicon-process:before {
  content: "\e96b";
}
.zicon-profile:before {
  content: "\e96c";
}
.zicon-red:before {
  content: "\e96d";
}
.zicon-relation:before {
  content: "\e96e";
}
.zicon-review-time:before {
  content: "\e96f";
}
.zicon-review:before {
  content: "\e970";
}
.zicon-right:before {
  content: "\e971";
}
.zicon-search:before {
  content: "\e972";
}
.zicon-security:before {
  content: "\e973";
}
.zicon-seeds:before {
  content: "\e974";
}
.zicon-send-mensagge:before {
  content: "\e975";
}
.zicon-server-1:before {
  content: "\e976";
}
.zicon-server:before {
  content: "\e977";
}
.zicon-settings-2:before {
  content: "\e978";
}
.zicon-settings-doc:before {
  content: "\e979";
}
.zicon-settings-folder:before {
  content: "\e97a";
}
.zicon-settings-red:before {
  content: "\e97b";
}
.zicon-settings-world:before {
  content: "\e97c";
}
.zicon-settings-1:before {
  content: "\e97d";
}
.zicon-settings:before {
  content: "\e97e";
}
.zicon-social-media:before {
  content: "\e97f";
}
.zicon-sofia-plus:before {
  content: "\e980";
}
.zicon-star:before {
  content: "\e981";
}
.zicon-support-1:before {
  content: "\e982";
}
.zicon-support:before {
  content: "\e983";
}
.zicon-team:before {
  content: "\e984";
}
.zicon-teamwork:before {
  content: "\e985";
}
.zicon-test:before {
  content: "\e986";
}
.zicon-time-line:before {
  content: "\e987";
}
.zicon-time:before {
  content: "\e988";
}
.zicon-touch:before {
  content: "\e989";
}
.zicon-up:before {
  content: "\e98d";
}
.zicon-upgrade:before {
  content: "\e98e";
}
.zicon-upload:before {
  content: "\e992";
}
.zicon-user-review:before {
  content: "\e993";
}
.zicon-user-sena:before {
  content: "\e994";
}
.zicon-verficated:before {
  content: "\e995";
}
.zicon-verificate:before {
  content: "\e996";
}
.zicon-verified:before {
  content: "\e997";
}
.zicon-video:before {
  content: "\e998";
}
.zicon-voice:before {
  content: "\e999";
}
.zicon-win:before {
  content: "\e99a";
}
.zicon-x:before {
  content: "\e99b";
}
.zicon-youtube:before {
  content: "\e99c";
}
