<div class="row">
    <div class="col-3">
        <img src="http://localhost/Front/Assets/recursos/deltatur_logo.png" width="150px" height="150px"
            class="rounded mx-auto d-block" alt="gestion turistica">

    </div>
    <div class="col-6">
        <h1 class="jumbotron-heading">Gestion Turistica</h1>

    </div>
    <div id="infoLogin" style="display: none;" class="col-3">
        <div class="card mb-3 box-shadow" style="width: 6rem;">
            <img src="Assets/recursos/logo-sena-negro.jpg" class="card-img-top" alt="foto">
            <div class="card-body">
                <h5 id="nUsuario" class="card-title">Jose</h5>
                <p id="rolUsuario" class="card-text">addd</p>
                <a href="#" class="btn btn-primary">Perfil</a>
            </div>
        </div>
    </div>
</div>
<div class="row" id="main-nav">
    <div id="containerLi" class="col-12">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link page" id='btn-home' aria-current="home" href="#" data-tag="home">inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-mnosotros' aria-current="mnosotros" href="#" data-tag="mnosotros">Mas de Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-mision' aria-current="mision" href="#" data-tag="mision"href="#">Mision</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-vision' aria-current="vision" href="#" data-tag="vision"href="#">Vision</a>
            </li>          
            <li class="nav-item">
                <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Ingreso</a>
            </li>
            <li class="nav-item">
        </ul>
    </div>
</div>
    <br>
    <div id="barraAdmin" style="display: none;" class="row">
        <div class="text-bg-primary p-3 col-10">Gestion por Modulos</div>
        <div class="col-2">
            <button id="btnsalir" class="btn btn-outline-secondary">Salir</button>
            <button id="btnatras" class="btn btn-outline-info">Atras</button>
    
        </div>
    </div>
    <br>


<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="loginModalLabel">Inicio de Sesión</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="login-form" action="#">
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo de Ingreso</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">No se compartira su correo con nadie mas.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="remember-user" name="remember-user">
                        <label class="form-check-label" for="remember-user">Recordar datos</label>
                    </div>
                    <button type="submit" class="btn btn-primary" style="display: none;">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnClose" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnLogin">Login</button>
            </div>
        </div>
    </div>
</div>
<script src="Assets/js/header.js"></script>
