<div class="row">
    <div class="col-3">
        <img src="http://localhost/Front/Assets/recursos/deltatur_logo.png" width="150px" height="150px"
            class="rounded mx-auto d-block" alt="gestion turistica">

    </div>
    <div class="col-6">
        <h1 class="jumbotron-heading">Gestion Turistica</h1>

    </div>
    <div id="infoLogin" style="display: none;" class="col-3">
        <div class="card bg-light border-warning"> <!-- Fondo claro y borde cálido -->
            <div class="card-body">
                <h5 id="nUsuario" class="card-title text-warning">Nombre</h5> <!-- Color cálido en el texto -->
                <p id="rolUsuario" class="card-text text-dark">Rol</p>
                <button id="cerrarsesion" class="btn btn-primary">Cerrar Sesión</button> <!-- Botón azul -->
            </div>
        </div>
    </div>
</div>
<div class="row" id="main-nav">
    <div id="containerLi" class="col-12">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link page" id='btn-home' aria-current="home" href="#" data-tag="home">inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-mnosotros' aria-current="mnosotros" href="#" data-tag="mnosotros">Mas de Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-mision' aria-current="mision" href="#" data-tag="mision"href="#">Mision</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-vision' aria-current="vision" href="#" data-tag="vision"href="#">Vision</a>
            </li>          
            <li class="nav-item">
                <a class="nav-link" href="#" id="abrirLogin" data-bs-toggle="modal" data-bs-target="#loginModal">Ingreso</a>
            </li>
            <li class="nav-item">
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Encabezado del Modal -->
            <div class="modal-header" style="background-color: #1874CD; color: white;">
                <h1 class="modal-title fs-5" id="loginModalLabel">Inicio de Sesión</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" style="filter: invert(1);"></button>
            </div>

            <!-- Cuerpo del Modal -->
            <div class="modal-body" style="background-color: #F5F5DC;">
                <form id="login-form" action="#">
                    <div class="mb-3">
                        <label for="email" class="form-label" style="color: #1874CD;">Correo de Ingreso</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text" style="color: #FFA500;">No se compartirá su correo con nadie más.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label" style="color: #1874CD;">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="remember-user" name="remember-user">
                        <label class="form-check-label" for="remember-user" style="color: #1874CD;">Recordar datos</label>
                    </div>
                    <button type="submit" class="btn btn-primary d-none">Submit</button>
                </form>
            </div>

            <!-- Pie de página del Modal -->
            <div class="modal-footer" style="background-color: #FFEFD5;">
                <button type="button" class="btn btn-secondary" id="btnRegistro" style="background-color: #7cc00f; border-color: #0d914f; color: white;">Registrarse</button>
                <button type="button" class="btn btn-secondary" id="btnClose" data-bs-dismiss="modal" style="background-color: #1874CD; border-color: #1874CD; color: white;">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnLogin" style="background-color: #FFD700; border-color: #FFD700; color: black;">Iniciar Sesión</button>
            </div>
        </div>
    </div>
</div>
<div class="col-12 rounded-4 bg-primary text-center text-white p-3">
    <h4 class="bg-transparent text-white">Disfruta de nuestros paquetes disponibles para ti</h4>
  </div>
  
<script src="Assets/js/header.js"></script>
