<div class="row">
    <div class="col-3">
        <img src="http://localhost/Front/Assets/recursos/deltatur_logo.png" width="150px" height="150px"
            class="rounded mx-auto d-block" alt="gestion turistica">

    </div>
    <div class="col-6">
        <h1 class="jumbotron-heading">Gestion Turistica</h1>

    </div>
    <div id="infoLogin" style="display: flex;" class="col-3">
        <div class="card bg-light border-warning"> <!-- Fondo claro y borde cálido -->
            <div class="card-body">
                <h5 id="nUsuario" class="card-title text-warning">Nombre</h5> <!-- Color cálido en el texto -->
                <p id="rolUsuario" class="card-text text-dark">Rol</p>
                <button id="cerrarsesion" class="btn btn-primary">Cerrar Sesión</button> <!-- Botón azul -->
            </div>
        </div>
    </div>
</div>
<div class="row" id="main-nav">
    <div id="containerLi" class="col-12">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link page" id='btn-home' aria-current="home" href="#" data-tag="home">inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-mnosotros' aria-current="mnosotros" href="#" data-tag="mnosotros">Mas de Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-mision' aria-current="mision" href="#" data-tag="mision"href="#">Mision</a>
            </li>
            <li class="nav-item">
                <a class="nav-link page" id='btn-vision' aria-current="vision" href="#" data-tag="vision"href="#">Vision</a>
            </li>          
          
            <li class="nav-item">
        </ul>
    </div>
</div>
<div class="col-12 rounded-4 bg-primary text-center text-white p-3">
    <h4 class="bg-transparent text-white">Disfruta de nuestros paquetes disponibles para ti</h4>
  </div>
  
   
<script src="Assets/js/headerTurista.js"></script>
