<link rel="stylesheet" href="css/turista/pqPersonal2.css">
<div id="main-content">
    <div class="modal" id="eliminarmodal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">ELiminar Registro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Desea eliminar este registro de forma permanente</p>
          </div>
          <div class="modal-footer">
            <button type="button" id="cerrarmodal" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
            <button type="button" id="confeliminar" class="btn btn-primary">Si</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-10" style="background-color: rgb(117, 117, 223); color: white; padding: 10px;">
      <h3>historial de tus Reservas </h3>  
    </div>
    <div class="col-2">
    <button type="button" class="btn btn-info" id="Atras" style="margin-top: 10px;">Atrás</button>
  </div>
  <div class="container" id="container-historial"> main
    
  </div>
<script src="Assets/js/turista/historialCard.js"></script>