<link rel="stylesheet" href="css/turista/pqPersonal2.css">
<div class="container mt-5">
    <h2 class="text-center mb-4">Elige tu Restaurante</h2>

    <div id="lista-servicios">
        <!-- Aquí se cargarán dinámicamente los hoteles -->
    </div>
</div>
<div class="row">

<div class="col-5 text-center">
    <button type="submit" class="btn btn-primary" id="continuarpq3">Continuar</button>
    <button type="back" class="btn btn-secondary" id="atras">Atras</button>
</div>
</div>
<script src="Assets/js/turista/pqPersonal3.js"></script>