<div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-6">

        <div class="card shadow text-center">
          <div class="card-body">
            <h4 class="card-title text-primary mb-4">Pago en Efectivo</h4>

            <p class="card-text">
              Acérquese a un <strong>Efecty</strong> y realice el pago de: 
              <span id="monto" class="fw-bold text-success">...</span> pesos,<br>
              al siguiente código: 
              <span id="codigo" class="fw-bold text-danger">...</span>
            </p>

            <div class="mb-3">
              <label for="vaucher" class="form-label fw-semibold">Cargar comprobante</label>
              <input type="file" class="form-control" id="vaucher" accept="image/*">
            </div>

            <div class="d-flex justify-content-between mt-4">
              <button class="btn btn-secondary" id="btnAtras">Atrás</button>
              <button class="btn btn-primary" id="btnEnviar">Enviar</button>
            </div>
          </div>
        </div>
      </div> 
     </div>
   </div>   


       
<script src="Assets/js/turista/pqPersonal8.js"></script>