<link rel="stylesheet" href="css/reservas.css">
<div class="container mt-5">
    <h2 class="text-center">Reserva de Paquete Turístico</h2>
    <form>
     <div class="row">
        <div class="mb-3 col-10">
            <label class="form-label">Nombre de la Persona</label>
            <input type="text" class="form-control" id="txtPersona" readonly>
        </div>
     </div>  
    <div class="row">   
         <div class="mb-3 col-5">
            <label class="form-label">Fecha de Inicio</label>
            <input type="date" class="form-control" id="fechaInicio">
         </div>
        <div class="mb-3 col-5">
            <label class="form-label">Fecha Final</label>
            <input type="date" class="form-control" id="fechaFinal">
        </div>
     </div>
    <div class="row">
        <div class="mb-3 col-5">
            <label class="form-label">Nombre del Paquete</label>
            <input type="text" class="form-control" id="txtNombre" readonly>
        </div>
        <div class="mb-3 col-5">
            <label class="form-label">Descripción</label>
            <textarea class="form-control" id="txtDescripcion" readonly></textarea>
        </div>
    </div>   
    <div class="row">
        <div class="mb-3 col-5">
            <label class="form-label">Hotel</label>
            <input type="text" class="form-control" id="txtHotel" readonly>
        </div>
        <div class="mb-3 col-5">
            <label class="form-label">Restaurante</label>
            <input type="text" class="form-control" id="txtRestaurante" readonly>
        </div>
    </div>   
    <div class="row">
        <div class="mb-3 col-5">
            <label class="form-label">Transporte</label>
            <input type="text" class="form-control" id="txtTransporte" readonly>
        </div>
        <div class="mb-3 col-5">
            <label class="form-label">Atracción Turística</label>
            <input type="text" class="form-control" id="txtAtraccion" readonly>
        </div>
    </div>   
    <div class="row">
        <div class="mb-3 col-5">
            <label class="form-label">Precio por Dia</label>
            <input type="number" class="form-control" id="precio" readonly>
        </div>
        <div class="mb-3 col-5">
            <label class="form-label">Cantidad de Dias</label>
            <input type="text" class="form-control" id="CantDias" readonly>
        </div>
    </div>   
    <div class="row">
        <div class="mb-3 col-5">
            <label class="form-label">Total a Pagar</label>
            <input type="text" class="form-control" id="totalpaq" readonly>
        </div>  
    </div>  
        <button type="submit" class="btn btn-primary w-100">Confirmar Reserva</button>
        <button type="close" class="btn btn-secondary w-100">Atras</button>
    </form>
</div>