<div class="row">
    <div class="col-3">
        <img src="http://localhost/Front/Assets/recursos/deltatur_logo.png" width="150px" height="150px"
            class="rounded mx-auto d-block" alt="gestion turistica">

    </div>
    <div class="col-6">
        <h1 class="jumbotron-heading">Gestion Turistica</h1>

    </div>
    <div id="infoLogin" style="display: noned-flex;" class="col-3">       
            <div class="card-body">
                <h5 id="nUsuario" class="card-title">nombre</h5>
                <p id="rolUsuario" class="card-text">rol</p>
                <a href="#" id="cerrarsesion" class="btn btn-primary">Cerrar Sesion</a>
            </div>        
    </div>
</div>    
    <div id="barraAdmin" style="display: block;" class="row">
        <div class="text-bg-primary p-3 col-12">Gestion por Modulos</div>
        <br>
        <div class="col-12">
            <button id="btnsalir" class="btn btn-outline-secondary">Salir</button>
            <button id="btnatras" class="btn btn-outline-info">Atras</button>
    
        </div>
    </div>
<script src="Assets/js/headeradmin.js"></script>
