<div class="row text-white py-4" style="background-color: #fef1d1;"> <!-- Fondo cálido basado en el ícono -->
    <div class="col-3">
        <img src="http://localhost/Front/Assets/recursos/deltatur_logo.png" width="150px" height="150px"
            class="rounded mx-auto d-block" alt="gestión turística">
    </div>
    <div class="col-6">
        <h1 class="jumbotron-heading text-primary">Gestión Turística</h1> <!-- Texto azul para reflejar el contraste del ícono -->
    </div>
    <div id="infoLogin" style="display: flex;" class="col-3">
        <div class="card bg-light border-warning"> <!-- Fondo claro y borde cálido -->
            <div class="card-body">
                <h5 id="nUsuario" class="card-title text-warning">Nombre</h5> <!-- Color cálido en el texto -->
                <p id="rolUsuario" class="card-text text-dark">Rol</p>
                <a href="#" id="cerrarsesion" class="btn btn-primary">Cerrar Sesión</a> <!-- Botón azul -->
            </div>
        </div>
    </div>
</div>
<div id="barraAdmin" style="display: block;" class="row">
    <div class="text-bg-primary text-center p-3 col-12" >Gestión por Módulos</div> <!-- Texto azul de fondo -->
</div>

<script src="Assets/js/headeradmin.js"></script>

