<div class="row text-white py-1" style="background-color: #e1fafc;"> <!-- Fondo cálido basado en el ícono -->
    <div class="col-4 d-flex justify-content-start">
        <img src="http://localhost/Front/Assets/recursos/deltatur-luna2.png" width="120px" height="120px"
            class="rounded me-auto d-block" alt="gestión turística">
    </div>
    <div class="col-4">
       <h2 class="fw-bold text-primary text-center mb-4">Gestión Turística</h2>
       <h4 class="fw-bold text-primary text-center mb-4">¡Luna!</h4>
 <!-- Texto azul para reflejar el contraste del ícono -->
    </div>
    <div id="infoLogin" style="display: block;" class="col-4 d-flex justify-content-end">
        <div class="card bg-light border-warning"> <!-- Fondo claro y borde cálido -->
            <div class="card-body">
                <h5 id="nUsuario" class="card-title text-warning text-capitalize">Nombre</h5> <!-- Color cálido en el texto -->
                <p id="rolUsuario" class="card-text text-dark text-capitalize">Rol</p>
                <a href="#" id="cerrarsesion" class="btn btn-primary">Cerrar Sesión</a> <!-- Botón azul -->
            </div>
        </div>
    </div>
</div>
<div id="barraAdmin" style="display: block;" class="row">
    <div class="col-12 rounded-4 bg-primary text-center text-white p-1" >Gestión por Módulos</div> <!-- Texto azul de fondo -->
</div>

<script src="Assets/js/headeradmin.js"></script>

